  <div class="container">
    <div class="row text-center">
      <h1>Entrepreneur</h1>
    </div>

    <div class="row">
      {{#each doc}}
      <div class="col-xs-10 col-xs-offset-1">
        <a href="{{this.link}}" target="_blank" data-id="{{this._id}}">{{this.title}}</a>
      </div>
      {{/each}}
    </div>
  </div>