  <div class="row text-center">
    <h1>Alex's Scraper</h1>
  </div>

  <div class="row text-center">
    <div class="col-xs-3 col-xs-offset-3">
      <form action="/entrepreneur-scrape" method="POST">
        <button type="submit" class="btn btn-primary">Scrape Entrepreneur</button>
      </form>
    </div>
    <div class="col-xs-3">
      <a href="/entrepreneur">See saved Entrepreneur content</a>
    </div>
  </div>