  <div class="row text-center">
    <h1>Alex's Scraper</h1>
  </div>

  <div class="row text-center">
    <div class="col-sm-12">
      <form action="/entrepreneur-scrape" method="POST">
        <button type="submit" class="btn btn-primary">Entrepreneur</button>
      </form>
    </div>
  </div>